.Appointment .card {
    margin-bottom: 15px;
    width: 400px;
}

.Appointment .margin-bottom {
    margin-bottom: 15px;
}

.Appointment .content {
    display: flex;
    justify-content: space-between;    
}

.Appointment .header {
    font-size: 13;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Appointment .action {
    font-size: 12;
}
