.PatientList .container {
    margin-top: 30px;
    padding: 5px 20px 5px 20px;
}

.PatientList .patient-row {
    cursor: pointer;
}

.PatientList .patient-info {
    font-size: 14;
    height: 50px;
    display: flex;
    align-items: center;
}
